:root {
  --rp-c-brand: #ffcc00;
  --rp-c-brand-light: #ffd633;
  --rp-c-brand-lighter: #ffe066;
  --rp-c-brand-dark: #e6b800;
  --rp-c-brand-darker: #cc9900;
  --rp-c-brand-tint: rgba(255, 204, 0, 0.16);
}

:where(html:not(.rp-dark)) {
  --rp-home-hero-title-color: #ffcc00;
  --rp-home-hero-title-bg: #ffcc00;
  --rp-home-background-bg: #fff;
  --rp-home-feature-bg: #f9f9f9;
}

:where(html.rp-dark) {
  --rp-home-hero-title-color: #ffcc00;
  --rp-home-hero-title-bg: #ffcc00;
  --rp-home-background-bg: #121212;
  --rp-home-feature-bg: #1a1a1a;
}
